// Box Contact
.box-contact
  ul
    li
      a(
        target="_blank" 
        href="#"
        )
        i.fa-brands.fa-facebook-f
    li
      a(
        target="_blank" 
        href="#"
        )
        i.fa-brands.fa-instagram
    li
      a(
        target="_blank" 
        href="#"
        )
        i.fa-brands.fa-viber
    li
      a(
        target="_blank" 
        href="#"
        )
        i.fa-brands.fa-youtube
// End Box Contact