// Footer
footer.footer
  .container
    .inner-top
      h2.inner-title Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi
      form#email-form.inner-form(action="#")
        input#email-input(
          name="email" 
          placeholder="Nhập email của bạn..." 
          type="email"
          )
        button(type="submit") Đăng Ký Ngay
    .inner-middle
      nav.inner-links
        ul
          li
            a(href="#") Trang Chủ
          li
            a(href="#") Tour Trong Nước
          li
            a(href="#") Tour Nước Ngoài
          li
            a(href="#") Tin Tức
          li
            a(href="#") Liên Hệ
      nav.inner-socials
        ul
          li
            a(
              target="_blank" 
              href="#"
              )
              i.fa-brands.fa-facebook
          li
            a(
              target="_blank" 
              href="#"
              )
              i.fa-brands.fa-x-twitter
          li
            a(
              target="_blank" 
              href="#"
              )
              i.fa-brands.fa-instagram
          li
            a(
              target="_blank" 
              href="#"
              )
              i.fa-brands.fa-youtube
    .inner-bottom
      .inner-copyright © 2024 28Tech. All rights reserved.
      .inner-logo
        a(href="index.html")
          img(
            alt="" 
            src="/assets/images/logo.png"
            )
      nav.inner-links
        ul
          li
            a(href="#") Điều khoản dịch vụ
          li
            a(href="#") Chính sách bảo mật
// End Footer