// Top Header
.top-header
  .container
    .inner-wrap
      if(settingWebsiteInfo.phone)
        .inner-item
          i.fa-solid.fa-phone
          | #{settingWebsiteInfo.phone}
      if(settingWebsiteInfo.email)
        .inner-item
          i.fa-solid.fa-envelope
          | #{settingWebsiteInfo.email}
      if(settingWebsiteInfo.address)
        .inner-item
          i.fa-solid.fa-building
          | #{settingWebsiteInfo.address}
// End Top Header
// Header
header.header
  .container
    .inner-wrap
      // Menu Mobile
      button.inner-menu-mobile
        i.fa-solid.fa-bars
      // Logo
      .inner-logo
        a(href="index.html")
          img(
            alt=settingWebsiteInfo.websiteName
            src=settingWebsiteInfo.logo
            )
      // Menu
      nav.inner-menu
        ul
          li
            a.active(href="index.html") Trang chủ
          each item in categoryList
            li
              a(href=`/category/${item.slug}`) #{item.name}
              if(item.children)
                i.fa-solid.fa-caret-down
                ul
                  each itemChild in item.children
                    li
                      a(href=`/category/${itemChild.slug}`) #{itemChild.name}
          li
            a(href="#") Tin tức
          li
            a(href="#") Liên hệ
        .inner-overlay
      // Cart
      .inner-cart
        a(href="/cart")
          img(
            alt="Cart" 
            src="/assets/images/icon-cart.svg"
            )
          span(mini-cart) 0
// End Header