extends ../layouts/default.pug

block main
  // Section 11
  .section-11(page-cart)
    .container
      .inner-wrap
        .inner-head
          .inner-title Giỏ Hàng
          a.inner-back(href="/")
            | Quay lại mua hàng
            i.fa-solid.fa-angle-right
        .inner-tour-list(cart-list)
        .inner-coupon
          form#coupon-form(action="")
            input#coupon-input(
              name="coupon" 
              placeholder="Nhập mã giảm giá" 
              type="text"
              )
            button(type="submit") Dùng Mã
        .inner-list-price
          .inner-item
            .inner-label Tạm tình:
            .inner-price
              span(cart-sub-total) 0
              span đ
          .inner-item
            .inner-label Giảm:
            .inner-price -0đ
          .inner-item
            .inner-label Thanh toán:
            .inner-price-highlight
              span(cart-total) 0
              span đ
  // End Section 11
  // Section 12
  .section-12
    .container
      .inner-wrap
        form#order-form(action="")
          .inner-info
            .inner-title-main Thông Tin Khách Hàng
            .inner-inputs
              .inner-input
                input#full-name-input(
                  placeholder="Họ và tên" 
                  name="fullName" 
                  type="text"
                  )
              .inner-input
                input#phone-input(
                  placeholder="Số điện thoại" 
                  name="phone" 
                  type="text"
                  )
            textarea(
              placeholder="Ghi chú" 
              name="note"
              )
          .inner-method
            .inner-title-main Chọn phương thức thanh toán
            .inner-list
              .inner-item
                input#methodMoney(
                  checked="" 
                  value="money" 
                  name="method" 
                  type="radio"
                  )
                label(for="methodMoney") Thanh toán tiền mặt khi đi tour
              .inner-item
                input#methodMomo(
                  value="momo" 
                  name="method" 
                  type="radio"
                  )
                label(for="methodMomo") Ví MoMo
              .inner-item
                input#methodZaloPay(
                  value="zalopay" 
                  name="method" 
                  type="radio"
                  )
                label(for="methodZaloPay") ZaloPay
              .inner-item
                input#methodBank(
                  value="bank" 
                  name="method" 
                  type="radio"
                  )
                label(for="methodBank") Chuyển khoản ngân hàng
            .inner-info-bank
              .inner-title Thông tin chuyển khoản
              .inner-text Ngân hàng : Vietcombank
              .inner-text Tên tài khoản: Le Van A
              .inner-text STK: 0123456789
          .inner-button
            button(type="submit") ĐẶT TOUR
  // End Section 12
