extends ../layouts/default.pug
include ../mixins/product-item.pug
block main
  // Section 1
  .section-1
    .container
      .inner-wrap
        h1.inner-title(
          data-aos-duration="800" 
          data-aos="fade-up"
          )
          | Du lịch Châu Á - Khám phá Mỹ, Úc, Âu
          br
          | Đi nơi đâu bạn muốn
        p.inner-desc(
          data-aos-delay="150" 
          data-aos-duration="800" 
          data-aos="fade-up"
          )
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        form.inner-form(
          data-aos-delay="300" 
          data-aos-duration="800" 
          data-aos="fade-up" 
          action="#"
          )
          .inner-box.inner-address
            .inner-input-group
              img.inner-icon(src="/assets/images/icon-address.svg")
              input.inner-input(
                placeholder="Bạn muốn đi đâu?" 
                type="text"
                )
              i.fa-solid.fa-angle-down.inner-down
            .inner-suggest
              .inner-suggest-title
                i.fa-solid.fa-location-dot
                | Địa Điểm Hot
              .inner-suggest-list
                .inner-item
                  .inner-item-image
                    img(
                      alt="" 
                      src="/assets/images/product-1.jpg"
                      )
                  .inner-item-content
                    .inner-item-title Nhật Bản
                    .inner-item-desc 50 tours
                .inner-item
                  .inner-item-image
                    img(
                      alt="" 
                      src="/assets/images/product-2.jpg"
                      )
                  .inner-item-content
                    .inner-item-title Phú Quốc
                    .inner-item-desc 50 tours
                .inner-item
                  .inner-item-image
                    img(
                      alt="" 
                      src="/assets/images/product-3.jpg"
                      )
                  .inner-item-content
                    .inner-item-title Singapore
                    .inner-item-desc 50 tours
          .inner-box.inner-user
            .inner-input-group
              img.inner-icon(src="/assets/images/icon-user.svg")
              input.inner-input(
                placeholder="Số lượng" 
                type="text"
                )
              i.fa-solid.fa-angle-down.inner-down
            .inner-quantity
              .inner-item
                .inner-label Người lớn
                .inner-count
                  span.inner-down -
                  span.inner-number 1
                  span.inner-up +
              .inner-item
                .inner-label Trẻ em
                .inner-count
                  span.inner-down -
                  span.inner-number 0
                  span.inner-up +
              .inner-item
                .inner-label Em bé
                .inner-count
                  span.inner-down -
                  span.inner-number 0
                  span.inner-up +
          .inner-box.inner-calendar
            .inner-input-group
              img.inner-icon(src="/assets/images/icon-calendar.svg")
              input.inner-input(type="date")
          button.inner-button(type="submit")
            i.fa-solid.fa-magnifying-glass
            | Tìm Kiếm
  // End Section 1
  // Section 2
  -
    var productListSection2 = [
      {
        avatar: '/assets/images/product-1.jpg',
        slug: "#",
        discount: 30,
        name: "Hà Nội - Lào Cai - SaPa 4N3Đ",
        priceOld: "13.650.000",
        priceNew: "2.590.000",
        code: "TOUR000001",
        departureDate: "22/07/2024",
        time: "10 Ngày 9 Đêm",
        ratingStars: 4,
        ratingTotal: 20,
        stock: 10
      },
      {
        avatar: '/assets/images/product-2.jpg',
        slug: "#",
        discount: 30,
        name: "Hà Nội - Lào Cai - SaPa 4N3Đ",
        priceOld: "13.650.000",
        priceNew: "2.590.000",
        code: "TOUR000001",
        departureDate: "22/07/2024",
        time: "10 Ngày 9 Đêm",
        ratingStars: 5,
        ratingTotal: 20,
        stock: 10
      },
      {
        avatar: '/assets/images/product-3.jpg',
        slug: "#",
        discount: 30,
        name: "Hà Nội - Lào Cai - SaPa 4N3Đ",
        priceOld: "13.650.000",
        priceNew: "2.590.000",
        code: "TOUR000001",
        departureDate: "22/07/2024",
        time: "10 Ngày 9 Đêm",
        ratingStars: 3,
        ratingTotal: 20,
        stock: 10
      },
      {
        avatar: '/assets/images/product-3.jpg',
        slug: "#",
        discount: 30,
        name: "Hà Nội - Lào Cai - SaPa 4N3Đ",
        priceOld: "13.650.000",
        priceNew: "2.590.000",
        code: "TOUR000001",
        departureDate: "22/07/2024",
        time: "10 Ngày 9 Đêm",
        ratingStars: 3,
        ratingTotal: 20,
        stock: 10
      }
    ];
  .section-2(
    data-aos-delay="450" 
    data-aos-duration="800" 
    data-aos="fade-up"
    )
    .container
      .inner-wrap
        .inner-info
          h2.inner-title
            | ƯU ĐÃI 2024
            br
            | TOUR GIỜ CHÓT
          .inner-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          .inner-clock-title Kết thúc sau
          .inner-clock-number(clock-expire="2025-12-10T15:00:00")
            span.inner-item
              .inner-number 00
              .inner-label Ngày
            span.inner-item
              .inner-number 00
              .inner-label Giờ
            span.inner-item
              .inner-number 00
              .inner-label Phút
            span.inner-item
              .inner-number 00
              .inner-label Giây
          .inner-discount-title GIẢM ĐẾN
          .inner-discount-price
            | 990.000
            span.inner-unit đ
        .inner-list
          .swiper.swiper-section-2
            .swiper-wrapper
              each item in productListSection2
                .swiper-slide
                  // Product Item
                  +product-item(item)
                  // End Product Item
  // End Section 2
  // Section 3
  .section-3
    .container
      h2.box-title(
        data-aos-duration="800" 
        data-aos="fade-up"
        ) Khuyến Mại Bùng Nổ - Đánh Tan Nóng Bức
      .swiper.swiper-section-3(
        data-aos-delay="150" 
        data-aos-duration="800" 
        data-aos="fade-up"
        )
        .swiper-wrapper
          .swiper-slide
            .inner-item
              a(href="#")
                img(
                  alt="" 
                  src="assets/images/banner-1.png"
                  )
          .swiper-slide
            .inner-item
              a(href="#")
                img(
                  alt="" 
                  src="assets/images/banner-2.png"
                  )
          .swiper-slide
            .inner-item
              a(href="#")
                img(
                  alt="" 
                  src="assets/images/banner-3.png"
                  )
          .swiper-slide
            .inner-item
              a(href="#")
                img(
                  alt="" 
                  src="assets/images/banner-3.png"
                  )
        .swiper-pagination
  // End Section 3