extends ../layouts/default.pug
include ../mixins/product-item.pug
block main
  // Section 1
  .section-1
    .container
      .inner-wrap
        h1.inner-title(
          data-aos-duration="800" 
          data-aos="fade-up"
          )
          | Trải nghiệm những bộ phim tại rạp phim chất lượng cao với âm thanh sống động và chân thực
          br
          | 
        p.inner-desc(
          data-aos-delay="150" 
          data-aos-duration="800" 
          data-aos="fade-up"
          )
        form.inner-form(
          data-aos-delay="300" 
          data-aos-duration="800" 
          data-aos="fade-up" 
          action="#"
          form-search
          )
          .inner-box.inner-address
            .inner-input-group
              img.inner-icon(src="/assets/images/icon-movie.png")
              input.inner-input(
                placeholder="Bạn muốn xem phim gì?" 
                type="text"
                name="locationTo"
                )
              i.fa-solid.fa-angle-down.inner-down
            .inner-suggest
              .inner-suggest-title
                i.fa-solid.fa-location-dot
                | Phim mới
              .inner-suggest-list
                .inner-item
                  .inner-item-image
                    img(
                      alt="" 
                      src="/assets/images/product-2.jpg"
                      )
                  .inner-item-content
                    .inner-item-title Harry Potter
                    .inner-item-desc 24/12
                .inner-item
                  .inner-item-image
                    img(
                      alt="" 
                      src="/assets/images/product-3.jpg"
                      )
                  .inner-item-content
                    .inner-item-title The Rings
                    .inner-item-desc 24/12
          .inner-box.inner-user
            .inner-input-group
              img.inner-icon(src="/assets/images/icon-user.png")
              input.inner-input(
                placeholder="Số lượng chỗ" 
                type="text"
                readonly
                )
              i.fa-solid.fa-angle-down.inner-down
          .inner-box.inner-calendar
            .inner-input-group
              img.inner-icon(src="/assets/images/icon-calendar.png")
              input.inner-input(type="date" name="departureDate")
          button.inner-button(type="submit")
            i.fa-solid.fa-magnifying-glass
            | Tìm Kiếm
  // End Section 1
  // Section 2
  .section-2(
    data-aos-delay="450" 
    data-aos-duration="800" 
    data-aos="fade-up"
    )
    .container
      .inner-wrap
        .inner-info
          h2.inner-title
            | RẺ NGẤT NGÂY
            br
            | NHANH TAY KẺO LỠ
          .inner-clock-title Kết thúc sau
          .inner-clock-number(clock-expire="2025-12-30T15:00:00")
            span.inner-item
              .inner-number 00
              .inner-label Ngày
            span.inner-item
              .inner-number 00
              .inner-label Giờ
            span.inner-item
              .inner-number 00
              .inner-label Phút
            span.inner-item
              .inner-number 00
              .inner-label Giây
          .inner-discount-title GIẢM TỪ
          .inner-discount-price
            | 30% LÊN TỚI 50%
        .inner-list
          .swiper.swiper-section-2
            .swiper-wrapper
              each item in tourListSection2
                .swiper-slide
                  // Product Item
                  +product-item(item)
                  // End Product Item
  // End Section 2
  // Section 3
  .section-3
    .container
      h2.box-title(
        data-aos-duration="800" 
        data-aos="fade-up"
        ) Khuyến Mại Bùng Nổ - Đánh Tan Ví Rỗng
      .swiper.swiper-section-3(
        data-aos-delay="150" 
        data-aos-duration="800" 
        data-aos="fade-up"
        )
        .swiper-wrapper
          .swiper-slide
            .inner-item
              a(href="#")
                img(
                  alt="" 
                  src="/assets/images/banner-1.jpg"
                  )
          .swiper-slide
            .inner-item
              a(href="#")
                img(
                  alt="" 
                  src="/assets/images/banner-2.jpg"
                  )
          .swiper-slide
            .inner-item
              a(href="#")
                img(
                  alt="" 
                  src="/assets/images/banner-3.jpg"
                  )
          .swiper-slide
            .inner-item
              a(href="#")
                img(
                  alt="" 
                  src="/assets/images/banner-3.jpg"
                  )
        .swiper-pagination
  // End Section 3
  // Section 4
  .section-4
    .container
      h2.box-title(
        data-aos-duration="800" 
        data-aos="fade-up"
        ) Phim Trong Nước
      .inner-wrap(
        data-aos-delay="150" 
        data-aos-duration="800" 
        data-aos="fade-up"
        )
        each item in tourListSection4
          // Product Item
          +product-item(item)
          // End Product Item
      .inner-button
        a.button-outline(href="/category/phim-trong-nuoc") Xem tất cả
  // End Section 4
  // Section 5
  .section-5(
    data-aos-duration="800" 
    data-aos="fade-up"
    )
    .container
      .inner-image
        a(href="#")
          img(
            alt="" 
            src="/assets/images/banner-4.jpg"
            )
  // End Section 5
  // Section 6
  .section-4
    .container
      h2.box-title(
        data-aos-duration="800" 
        data-aos="fade-up"
        ) Phim Nước Ngoài
      .inner-wrap(
        data-aos-delay="150" 
        data-aos-duration="800" 
        data-aos="fade-up"
        )
        each item in tourListSection5
          // Product Item
          +product-item(item)
          // End Product Item
      .inner-button
        a.button-outline(href="/category/phim-nuoc-ngoai") Xem tất cả
  // End Section 6
  // Section 7
  .section-5(
    data-aos-duration="800" 
    data-aos="fade-up"
    )
    .container
      .inner-image
        a(href="#")
          img(
            alt="" 
            src="/assets/images/banner-5.jpg"
            )
  // End Section 7
  // Section 8
  .section-8
    .container
      h2.box-title(
        data-aos-duration="800" 
        data-aos="fade-up"
        ) Tin Tức Mới
      .inner-wrap(
        data-aos-delay="150" 
        data-aos-duration="800" 
        data-aos="fade-up"
        )
        .blog-item
          a(href="#")
            .inner-image
              img(
                alt="" 
                src="/assets/images/blog-1.jpg"
                )
            .inner-content
              .inner-date 23/05/2024
              h3.inner-title Homestay “cổ tích” giữa Đà Lạt mộng mơ
        .blog-item-2
          a(href="#")
            .inner-image
              img(
                alt="" 
                src="/assets/images/blog-2.jpg"
                )
            .inner-content
              .inner-date 23/05/2024
              h3.inner-title Top 5 điểm check in độc đáo tại Singapore
              .inner-desc
                | Nếu bạn nghĩ du lịch Singapore rất nhàm chán vì chỉ mãi quanh quẩn trong những khối bê tông vô cảm thì bạn “chắc chưa?”. Tuy đảo quốc Sư Tử không phải là một quốc gia rộng lớn nhưng các địa điểm du lịch tại Singapore chưa từng đánh mất sức hút đối với cộng đồng xê dịch quốc tế.
        .blog-item
          a(href="#")
            .inner-image
              img(
                alt="" 
                src="/assets/images/blog-3.jpg"
                )
            .inner-content
              .inner-date 23/05/2024
              h3.inner-title Đặc sản không thể bỏ qua khi đến với Đà Nẵng - Hội An
        .blog-item
          a(href="#")
            .inner-image
              img(
                alt="" 
                src="/assets/images/blog-4.jpg"
                )
            .inner-content
              .inner-date 23/05/2024
              h3.inner-title Đảo Phú Quý Bình Thuận hot trend năm 2024
        .blog-item
          a(href="#")
            .inner-image
              img(
                alt="" 
                src="/assets/images/blog-5.jpg"
                )
            .inner-content
              .inner-date 23/05/2024
              h3.inner-title Trekking cắm trại tại Đà Lạt- Cảm nhận Đà Lạt qua từng bước chân
  // End Section 8