extends ../layouts/default.pug
include ../mixins/box-breadcrumb.pug

block main
    +box-breadcrumb(breadcrumb)
    // End Breadcrumb
    
    // Section 10
    .section-10
      .container
        .inner-wrap
          .inner-left
            .box-images
              .inner-images-main
                .swiper.swiper-box-images-main
                  .swiper-wrapper
                    each image in movieDetail.images
                      .swiper-slide
                        .inner-image
                          img(
                            alt="" 
                            src=image
                            )
              .inner-images-thumb
                .swiper.swiper-box-images-thumb
                  .swiper-wrapper
                    each image in movieDetail.images
                      .swiper-slide
                        .inner-image
                          img(
                            alt="" 
                            src=image
                            )
            .box-movie-info
              .inner-title Thông Tin movie
              .inner-content !{movieDetail.information}
              .inner-read-more
                button.button-outline Xem tất cả
            
          .inner-right
            .box-movie-detail
              .inner-title-main Chuyến Đi Của Bạn
              .inner-product
                .inner-image
                  img(
                    alt="" 
                    src=movieDetail.avatar
                    )
                .inner-info
                  .inner-title #{movieDetail.name}
              .inner-meta
                
                //- i.fa-solid.fa-ticket-simple
                //- span Mã movie:
                //- span.inner-highlight 28T00001

                .inner-item
                  i.fa-solid.fa-calendar-days
                  span Thời Gian:
                  span.inner-highlight #{movieDetail.time}
                .inner-item
                  i.fa-solid.fa-truck-plane
                  span Phương Tiện:
                  span.inner-highlight #{movieDetail.vehicle}
                .inner-item
                  i.fa-solid.fa-calendar-days
                  span Ngày Khởi Hành:
                  span.inner-highlight #{movieDetail.departureDateFormat}
              
              .inner-quantity
                label.inner-label Số Lượng Hành Khách
                .inner-list
                  .inner-item
                    .inner-item-label Người lớn:
                    .inner-item-input
                      input(
                        value="1" 
                        min="0" 
                        max=movieDetail.stockAdult
                        type="number"
                        input-stock-adult
                        price=movieDetail.priceNewAdult
                        )
                    .inner-item-price
                      span(stock-adult) 1
                      span x
                      span.inner-highlight #{movieDetail.priceNewAdult.toLocaleString("vi-VN")}
                  .inner-item
                    .inner-item-label Trẻ em:
                    .inner-item-input
                      input(
                        value="0" 
                        min="0" 
                        max=movieDetail.stockChildren
                        type="number"
                        input-stock-children
                      price=movieDetail.priceNewChildren
                        )
                    .inner-item-price
                      span(stock-children) 0
                      span x
                      span.inner-highlight #{movieDetail.priceNewChildren.toLocaleString("vi-VN")}
                  .inner-item
                    .inner-item-label Em bé:
                    .inner-item-input
                      input(
                        value="0" 
                        min="0" 
                        max=movieDetail.stockBaby
                        type="number"
                        input-stock-baby
                      price=movieDetail.priceNewBaby
                        )
                    .inner-item-price
                      span(stock-baby) 0
                      span x
                      span.inner-highlight #{movieDetail.priceNewBaby.toLocaleString("vi-VN")}
              .inner-total
                .inner-total-label Tổng cộng:
                .inner-total-price
                  span(total-price) #{movieDetail.priceNewAdult.toLocaleString("vi-VN")}
                  span đ
              button.inner-button-add-cart(movie-id=movieDetail.id) Thêm Vào Giỏ Hàng

    // End Section 10