extends ../layouts/default.pug
include ../mixins/box-breadcrumb.pug
include ../mixins/product-item.pug

block main
  // Breadcrumb
  +box-breadcrumb(breadcrumb)
  // End Breadcrumb
  // Section 9
  .section-9
    .container
      .inner-wrap
        .inner-left
          // Box Filter
          .box-filter
            .inner-head
              .inner-title Bộ Lọc
              i.fa-solid.fa-filter
            .inner-body
              .inner-group
                .inner-label Rạp Chiếu
                select(name="locationFrom")
                  option(value="") -- Chọn rạp --
                  each item in cityList
                    option(value=item._id) #{item.name}
              .inner-group
                .inner-label Điểm đến
                input(
                  type="text"
                  name="locationTo"
                  placeholder="Nhập điểm đến"
                )

              .inner-group
                .inner-label Ngày khởi hành
                input(type="date" name="departureDate")
              .inner-group
                .inner-label Số Lượng Hành Khách
                .inner-input-list
                  .inner-input-item
                    .inner-label Người lớn:
                    input(
                      value="0" 
                      type="number"
                      name="stockAdult"
                      )
                  .inner-input-item
                    .inner-label Trẻ em:
                    input(
                      value="0" 
                      type="number"
                      name="stockChildren"
                      )
                  .inner-input-item
                    .inner-label Em bé:
                    input(
                      value="0" 
                      type="number"
                      name="stockBaby"
                      )
              .inner-group
                .inner-label Mức giá
                select(name="price")
                  option(value="") -- Chọn khoảng giá --
                  option(value="0-999999") Dưới 1tr
                  option(value="1000000-3000000") Từ 1tr đến 3tr
                  option(value="3000000-6000000") Từ 3tr đến 6tr
                  option(value="6000000-10000000") Từ 6tr đến 10tr
                  option(value="10000000-1000000000") Trên 10tr
              .inner-group
                button.inner-button Áp Dụng
          .inner-overlay
          // End Box Filter
        .inner-right
          .inner-info
            h2.inner-title #{category.name}
            .inner-desc
              | !{category.description}
          
            .inner-count-record
              | Tất cả:
              b #{totalMovie} Phim
            button.inner-filter-mobile
              span.inner-title Bộ Lọc
              i.fa-solid.fa-filter
          .inner-list-tour
            each item in movieList
              // Product Item
              +product-item(item)
              // End Product Item
  // End Section 9