extends ../layouts/default.pug
include ../mixins/box-breadcrumb.pug
include ../mixins/product-item.pug

block main
  // Breadcrumb
  -
    var breadcrumb = {
      image: "/assets/images/banner-6.jpg",
      title: "Tour Nước Ngoài",
      list: [
        {
          link: "/",
          title: "Trang Chủ"
        },
        {
          link: "/tours",
          title: "Tour Nước Ngoài"
        }
      ]
    };

  
  +box-breadcrumb(breadcrumb)
            
  // End Breadcrumb
  // Section 9
  - 
    var productListSection9 = [
      {
        avatar: '/assets/images/product-1.jpg',
        slug: "#",
        discount: 30,
        name: "Hà Nội - Lào Cai - SaPa 4N3Đ",
        priceOld: "13.650.000",
        priceNew: "2.590.000",
        code: "TOUR000001",
        departureDate: "22/07/2024",
        time: "10 Ngày 9 Đêm",
        ratingStars: 4,
        ratingTotal: 20,
        stock: 10
      },
      {
        avatar: '/assets/images/product-1.jpg',
        slug: "#",
        discount: 30,
        name: "Hà Nội - Lào Cai - SaPa 4N3Đ",
        priceOld: "13.650.000",
        priceNew: "2.590.000",
        code: "TOUR000001",
        departureDate: "22/07/2024",
        time: "10 Ngày 9 Đêm",
        ratingStars: 4,
        ratingTotal: 20,
        stock: 10
      },
      {
        avatar: '/assets/images/product-1.jpg',
        slug: "#",
        discount: 30,
        name: "Hà Nội - Lào Cai - SaPa 4N3Đ",
        priceOld: "13.650.000",
        priceNew: "2.590.000",
        code: "TOUR000001",
        departureDate: "22/07/2024",
        time: "10 Ngày 9 Đêm",
        ratingStars: 4,
        ratingTotal: 20,
        stock: 10
      },
      {
        avatar: '/assets/images/product-1.jpg',
        slug: "#",
        discount: 30,
        name: "Hà Nội - Lào Cai - SaPa 4N3Đ",
        priceOld: "13.650.000",
        priceNew: "2.590.000",
        code: "TOUR000001",
        departureDate: "22/07/2024",
        time: "10 Ngày 9 Đêm",
        ratingStars: 4,
        ratingTotal: 20,
        stock: 10
      }
    ]
  .section-9
    .container
      .inner-wrap
        .inner-left
          // Box Filter
          .box-filter
            .inner-head
              .inner-title Bộ Lọc
              i.fa-solid.fa-filter
            .inner-body
              .inner-group
                .inner-label Điểm đi
                select(name="")
                  option(value="") -- Chọn điểm đi --
                  option(value="") Hà Nội
                  option(value="") Đà Nẵng
                  option(value="") Nha Trang
              .inner-group
                .inner-label Điểm đến
                select(name="")
                  option(value="") -- Chọn điểm đến --
                  option(value="") Hà Nội
                  option(value="") Đà Nẵng
                  option(value="") Nha Trang
              .inner-group
                .inner-label Ngày khởi hành
                input(type="date")
              .inner-group
                .inner-label Số Lượng Hành Khách
                .inner-input-list
                  .inner-input-item
                    .inner-label Người lớn:
                    input(
                      value="0" 
                      type="number"
                      )
                  .inner-input-item
                    .inner-label Trẻ em:
                    input(
                      value="0" 
                      type="number"
                      )
                  .inner-input-item
                    .inner-label Em bé:
                    input(
                      value="0" 
                      type="number"
                      )
              .inner-group
                .inner-label Mức giá
                select(name="")
                  option(value="") -- Chọn khoảng giá --
                  option(value="") Dưới 1tr
                  option(value="") Từ 1tr đến 3tr
                  option(value="") Từ 3tr đến 6tr
                  option(value="") Từ 6tr đến 10tr
                  option(value="") Trên 10tr
              .inner-group
                button.inner-button Áp Dụng
          .inner-overlay
          // End Box Filter
        .inner-right
          .inner-info
            h2.inner-title Tour Nước Ngoài
            .inner-desc
              | Du lịch Châu Á: là châu lục lớn và đông dân nhất thế giới. Châu Á cũng có nhiều danh lam thắng cảnh đẹp tại một số quốc gia như Hàn Quốc, Nhật Bản, Trung Quốc, Việt Nam,... và VK Travel là nhà tổ chức du lịch chuyên nghiệp hàng đầu Châu Á, đã 5 lần liên tiếp nhận giải TTG Travel Awards. Hãy cùng 28.Travel du lịch Châu Á để tận hưởng những dịch vụ tốt nhất.
          .inner-info-2
            .inner-sort
              .inner-label Sắp xếp:
              .inner-list
                button
                  | Giá tăng dần
                  i.fa-solid.fa-square-caret-up
                button
                  | Giá giảm dần
                  i.fa-solid.fa-square-caret-down
                button.active
                  | Khuyến Mại Hot
                  i.fa-solid.fa-tag
                button
                  | Xem Nhiều
                  i.fa-solid.fa-eye
            .inner-count-record
              | Tất cả:
              b 101 Tour
            button.inner-filter-mobile
              span.inner-title Bộ Lọc
              i.fa-solid.fa-filter
          .inner-list-tour
            // Product Item
            each item in productListSection9
              +product-item(item)
            // End Product Item
          // Pagination
          .box-pagination
            button
              i.fa-solid.fa-angles-left
            button.active 1
            button 2
            button 3
            button 4
            button
              i.fa-solid.fa-angles-right
          // End Pagination
  // End Section 9