extends ../layouts/default.pug

block main
    h1.box-title Tổng quan
    //- Section 1
    .section-1
      .inner-item
          .inner-icon
            img(src="/admin/assets/images/section-1-icon-1.svg")
          .inner-content
            .inner-title Quản trị viên
            .inner-number #{(overview.totalAdmin || 0).toLocaleString("vi-VN")}
      .inner-item
        .inner-icon
          img(src="assets/images/section-1-icon-2.svg")
        .inner-content
          .inner-title Đơn hàng
          .inner-number #{(overview.totalOrder || 0).toLocaleString("vi-VN")}
      .inner-item
        .inner-icon
          img(src="assets/images/section-1-icon-3.svg")
        .inner-content
          .inner-title Doanh thu
          .inner-number #{(overview.totalPrice || 0).toLocaleString("vi-VN")}đ
    //- End Section 1

    //- Section 2
    .section-2
      .inner-head
        h2.inner-title Biểu đồ doanh thu
        .inner-filter
          input(
            type="month"
            name=""
          )
      .inner-chart
        canvas(id="revenue-chart")
    //- End Section 2

    //- Section 3
    .section-3
      h2.inner-title Đơn hàng mới
      .table-1
        table
          thead
            tr
              th Mã
              th Thông tin khách
              th Danh sách tour
              th Thanh toán
              th.inner-text-right Ngày đặt
          tbody
            each order in bookings
              tr
                td
                  .inner-code #{order.orderCode}
                td
                  .inner-text Họ tên: #{order.fullName}
                  .inner-text SĐT: #{order.phone}
                  if order.note
                    .inner-text Ghi chú: #{order.note}
                td
                  each item in order.items
                    .inner-item
                      .inner-image
                        img(src=item.avatar, alt=item.name)
                      .inner-content
                        .inner-name #{item.name}
                        if item.adult
                          .inner-quantity Người lớn: #{item.adult} x #{(item.adultPrice || 0).toLocaleString('vi-VN')}đ
                        if item.child
                          .inner-quantity Trẻ em: #{item.child} x #{(item.childPrice || 0).toLocaleString('vi-VN')}đ
                        if item.baby
                          .inner-quantity Em bé: #{item.baby} x #{(item.babyPrice || 0).toLocaleString('vi-VN')}đ
                td
                  .inner-text Tạm tính: #{(order.total || 0).toLocaleString('vi-VN')}đ
                  if order.discount
                    .inner-text Giảm: #{(order.discount || 0).toLocaleString('vi-VN')}đ
                  .inner-text Thanh toán: #{((order.total || 0) - (order.discount || 0)).toLocaleString('vi-VN')}đ
                  .inner-text PTTT: #{order.paymentMethodName}
                  .inner-text TTTT: #{order.paymentStatusName}
                td.inner-text-right
                  .inner-text #{order.createdAt ? order.createdAt.toLocaleTimeString('vi-VN') : ''}
                  .inner-text #{order.createdAt ? order.createdAt.toLocaleDateString('vi-VN') : ''}
    //- End Section 3