extends ../layouts/default.pug

block main
  h1.box-title Quản lý đơn hàng

  //- Section 4
  .section-4
    .inner-wrap
      .inner-item.inner-label
        <i class="fa-solid fa-filter"></i> Bộ lọc
      .inner-item
        select
          option(value="") Trạng thái
          option(value="") Khởi tạo
          option(value="") Hoàn thành
          option(value="") Hủy
      .inner-item.inner-date
        input(type="date")
        span -
        input(type="date")
      .inner-item
        select
          option(value="") Phương thức thanh toán
          option(value="") Ví Momo
          option(value="") VNPay
          option(value="") ZaloPay
      .inner-item
        select
          option(value="") Trạng thái thanh toán
          option(value="") Đã thanh toán
          option(value="") Chưa thanh toán
      .inner-item.inner-reset
        <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
  //- End Section 4

  //- Section 5
  .section-5
    .inner-wrap
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Tìm kiếm")
  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th Mã
            th Thông tin khách
            th Danh sách tour
            th Thanh toán
            th Trạng thái
            th(class="inner-center") Ngày đặt
            th Hành động
        tbody
          each orderDetail in orderList
            tr
              td
                .inner-code #{orderDetail.orderCode}
              td
                div Họ tên: #{orderDetail.fullName}
                div SĐT: #{orderDetail.phone}
                div Ghi chú: #{orderDetail.note}
              td
                each item in orderDetail.items
                  .inner-item
                    .inner-image
                      img(src=item.avatar, alt=item.name)
                    .inner-content
                      .inner-name #{item.name}
                      .inner-quantity Người lớn: #{item.quantityAdult} x #{item.priceNewAdult.toLocaleString("vi-VN")}đ
                      .inner-quantity Trẻ em: #{item.quantityChildren} x #{item.priceNewChildren.toLocaleString("vi-VN")}đ
                      .inner-quantity Em bé: #{item.quantityBaby} x #{item.priceNewBaby.toLocaleString("vi-VN")}đ
              td
                div Tạm tính: #{orderDetail.subTotal.toLocaleString("vi-VN")}đ
                div Giảm: #{orderDetail.discount.toLocaleString("vi-VN")}đ
                //- div Mã giảm: TOURMUAHE2024
                div Thanh toán: #{orderDetail.total.toLocaleString("vi-VN")}đ
                div PTTT: #{orderDetail.paymentMethodName}
                div TTTT: #{orderDetail.paymentStatusName}
              td
                if (orderDetail.status == "initial")
                  .badge.badge-orange #{orderDetail.statusName}
                else if (orderDetail.status == "done")
                  .badge.badge-green #{orderDetail.statusName}
                else if (orderDetail.status == "cancel")
                  .badge.badge-red #{orderDetail.statusName}
              td(class="inner-center")
                div #{orderDetail.createdAtTime}
                div #{orderDetail.createdAtDate}
              td
                .inner-buttons
                  a(
                    href=`/${pathAdmin}/order/edit/${orderDetail.id}`
                    class="inner-edit"
                  ) <i class="fa-regular fa-pen-to-square"></i>
                  button(class="inner-delete") <i class="fa-regular fa-trash-can"></i>
  //- End Section 6

  //- Section 7
  .section-7
    span(class="inner-label") Hiển thị 1 - 9 của 78
    select(class="inner-pagination")
      option Trang 1
      option Trang 2
      option Trang 3
  //- End Section 7