mixin product-item(item)
  - const discount = parseInt(((item.priceAdult - item.priceNewAdult) / item.priceAdult) * 100);

  .product-item
    .inner-image
      a(href=`/tour/detail/${item.slug}`)
        img(
          alt=item.name
          src=item.avatar
        )
    .inner-discount
      i.fa-solid.fa-bolt
      | Giảm -#{discount}%
    .inner-content
      h3.inner-title
        a(href=`/tour/detail/${item.slug}`) #{item.name}
      .inner-prices
        if(discount > 0)
        .inner-price-old
            | #{item.priceAdult.toLocaleString("vi-VN")}
            span.inner-unit đ
        .inner-price-new
          | #{item.priceNewAdult.toLocaleString("vi-VN")}
          span.inner-unit đ
      .inner-desc
        //- .inner-desc-item
        //-   | Mã Tour:
        //-   b #{item.code}
        .inner-desc-item
          | Ngày Khởi Hành:
          b #{item.departureDateFormat}
        .inner-desc-item
          | Thời Gian:
          b #{item.time}
      .inner-meta
        //- .inner-rating
        //-   .inner-stars
        //-     - for (var i = 0; i < item.ratingStars; i++)
        //-       i.fa-solid.fa-star
        //-     - for (var j = item.ratingStars; j < 5; j++)
        //-       i.fa-regular.fa-star
        //-   .inner-number (#{item.ratingTotal})
        .inner-stock
          .inner-label Số chỗ còn:
          .inner-number #{item.stockAdult}